#location{
    margin-top: 120px;
    height: 543px;
}

.map{
    margin: 0 auto;
    max-width: 1106px;
    height: 543px;
    background-image: url(../../images/pictures/location/map-bg@2x.png);
    background-size:cover;
    position: relative;  
}